<h3>Crime reports</h3>

<h5><strong class="violent"><%= typeof violent !== 'undefined' ? violent : 0 %></strong> Violent</h5>

<h5><strong class="property"><%= typeof property !== 'undefined' ? property : 0 %></strong> Property</h5>

<h5><strong class="quality-of-life"><%= typeof quality !== 'undefined' ? quality : 0 %></strong> Quality of life</h5>

<h5><strong class='other'><%= typeof other !== 'undefined' ? other : 0 %></strong> Other</h5>